body{
     background-image:url("../img/1.jpg");
     background-size:cover;
	 background-attachment: fixed;
	 color:#fff;
    }

h1{
   text-align:center;
   }

div.a{
       margin:0 300px;
       
	   }
ul{
	margin:10px 350px;
}
li{
    list-style-type:none;
    
	display: inline;
	margin:10px 10px 10px 10px;
	font-size:22px;
	}
nav{
	text-align: right;
    border-bottom:1px solid;
	width: 100%;
    }
hr{
	color:#fff;
	margin-left:-5px;
	margin-right:-5px;
}
p{
	font-size:22px}

.dw,a{
	position:fixed;
	right:10px;
	bottom:50%;
	display: inline;
	background-color:#aaffff;
	text-decoration:none;
	padding:5px;
}