body
{
	background-image: url('../img/背景.png');
	background-size: 100%;
	background-attachment: fixed;
	margin: 0;
	
}
.body
{
	background-color: #00000022;
	margin: 0;
}
.nav
{
	height: 4.6875rem;
	padding: 0 2.5em;

}
span
{
	display: inline-block;
}
div.head1
{
	position: relative;
	top: 30%;
	float: left;
}
div.head2
{
	position: relative;
	top: 30%;
	float: right;
}
div.head2 span
{
	padding: 0 30px;
}

span.head
{
	vertical-align: middle;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: 600;
}
.ko
{
	height: 715px;
	width: 800px;
	margin: auto;
}
ul
{
	margin: 0;
}
li
{
	list-style-type: none;
}
.main
{
	background-color: aliceblue;
	margin: 0;
}
i{
	position: absolute;
	bottom: 0;
	left: 50%;
}