.we span
{
	color: #fff8ab;
}
.main
{
	background-color: #E8E8E8;
	position: relative;
}
.box1
{
	display:inline-block ;
	background-color: #ff3f19;
	width: 63%;
	margin: 20px 10px 10px 10% ;
}

.box2-in
{
	line-height: 1.5;
	margin-top: 20px;
	float: right;
	width: 15%;
	display: inline-block;
	background-color: #ff6f2c;
	position: sticky;
	top:30px;
	right: 10%;
}
.box2-in p{
	text-align: center;
}