.we1 {
	width: 1100px;
	height: 230px;
	margin: 190px auto 0;
	/* background-color: aquamarine; */
	animation: w1 4s linear forwards;
	overflow: hidden;
}
@keyframes w1 {
	0% {
		width: 0;
	}

	100% {
		width: 1100px;
	}
}
.we1 span{
	font-size: 150px;
	color: #ffa04c;
}