@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?sh5xac');
	src: url('../fonts/icomoon.eot?sh5xac#iefix') format('embedded-opentype'),
		url('.//fonts/icomoon.ttf?sh5xac') format('truetype'),
		url('../fonts/icomoon.woff?sh5xac') format('woff'),
		url('../fonts/icomoon.svg?sh5xac#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.main {
	background-color: #f3f7f6;
}

.boxl {
	display: inline-block;
	background-color: #f3f7f6;
	margin-left: 2%;
	margin-top: 80px;
	width: 70%;
	height: 900px;
}

.box-in {
	background-color: #f3f7f6;
	height: 800px;
	width: 70%;
	margin: 0 auto;

}

.boxl li {
	float: left;
	width: 45%;
	height: 350px;
	background-color: #ffffff;
	margin-top: 20px;
	margin-left: 20px;
}

.boxl li div {
	height: 70px;
	background-color: #ffffff;
	padding: 20px;
}

.boxl li div span:last-child {
	float: right;
}

.boxl li:last-child {
	margin-left: 28%;
	margin-top: 30px;
}

.boxl li span a {
	color: #b5b5b5;
	text-decoration: none;
}

.boxl li span a:hover {
	color: #67b6b7;
}

header {
	/* margi n-top: 20px; */
	padding: 20px;
}

header a {
	color: #162521;
	text-decoration: none;
}

header a:hover {
	color: #67b6b7;
}

.miaoshu p {
	margin-top: 10px;
	height: 40px;
	background-color: #ffffff;
	color: #818181;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer {

	background-color: #ffffff;
	margin-top: 35px;
	margin-left: 20px;
}

footer a {
	position: relative;
	float: left;
	display: block;
	overflow: hidden;
	padding: 3px 16px 3px 25px;
	border: 2px solid;
	font-size: .9em;
	line-height: 2;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	color: #67b6b7;
}

footer a::after {
	font-family: 'icomoon';
	content: '';
	margin-left: 15px;
}

a:hover {
	color: #e9b44c;
}

.boxr {
	position: absolute;
	display: inline-block;
	background-color: #f3f7f6;
	margin-left: -3%;
	margin-top: 100px;
	margin-right: 5%;
	width: 20%;
	height: 800px;
}

.boxr div {
	background-color: #f3f7f6;
	height: 250px;
	margin-bottom: 15px;
}

.boxr div h2 {
	text-align: center;
}

.boxr div p {
	margin-top: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid #e7eae9;
	padding-bottom: 2px;
	color: #e9b44c;
	font-size: 18px;
}

.boxr div p a {
	color: #e9b44c;
}

.boxr div p a:hover {
	color: #67b6b7;
}