.we span
{
	color: #fff8ab;
}
.main
{
	background-color: #fff;
	position: relative;
}
.Box1
{
	border-left:#b0b9f0 solid 3px;
	border-right:#b0b9f0 solid 3px;
	display:inline-block ;
	background-color: #fff;
	width: 63%;
	margin: 20px 10px 10px 10% ;
}

.Box2{
	line-height: 1.5;
	margin-top: 20px;
	float:right;
	width: 15%;
	display: block;
	background-color: #c8f5db;
	position: sticky;
	top:30px;
	right: 7%;
    color:#555666;
}


.Box2-in p{
	text-align: center;
}
.Box2-in a {
    text-decoration: none;
    color:#555666;
}
.Box2-in a:hover {
    color:  rgb(222, 184, 135);
}
.Box2-in ul
{
    padding-left: 15px;
    font-size: small;
}
